<div class="card my-5">
    <div class="card-body">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Description</th>
                    <th scope="col">DateCreation</th>
                    <th scope="col">Population</th>
                    <th scope="col">Superficie</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let city of cities">
                    <td>{{ city.nomVille }}</td>
                    <td>{{ city.description }}</td>
                    <td>{{ city.dateCreation }}</td>
                    <td>{{ city.population }}</td>
                    <td>{{ city.superficie }}</td>
                    <td> 
                        <a [routerLink]="['/city-detail', city.id]" class = "btn btn-sm btn-success"><i class="bi bi-pencil-square"></i></a>
                        <a [routerLink]="['/update-city', city.id]" class = "btn btn-sm btn-primary"><i class="bi bi-eye"></i></a>
                        <button class = "btn btn-sm btn-danger" type = "button" (click)='deleteVille(city.id)'><i class="bi bi-trash"></i></button>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>