<h4>Les détails de la ville sont</h4>
<div>
    Nom: <strong> {{city?.nomVille}}</strong><br/>
    Description: <strong>{{city?.description}}</strong><br/>
    Date de création: <strong>{{city?.dateCreation}}</strong><br/>
    Population: <strong>{{city?.population}}</strong><br/>
    Superficie: <strong>{{city?.superficie}}</strong><br/>
</div>