<div class="container-fluid">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a routerLink="cities" class="nav-link" class="btn btn-primary active" role="button">Cities List</a>
      </li>
      <li class="nav-item">
        <a routerLink="add-city" class="nav-link" class="btn btn-primary active" role="button">Add a city</a>
      </li>
      <li>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>