<h4>{{title}}</h4>

<div class="register-form">
  <form [formGroup]="cityForm" (ngSubmit)="onSubmit()" #userForm="ngForm">
    <div class="form-group">
      <label>Nom</label>
      <input type="text" formControlName="nomVille" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['nomVille'].errors }" />
      <div *ngIf="submitted && f['nomVille'].errors" class="invalid-feedback">
        <div *ngIf="f['nomVille'].errors['required']">City name is required</div>
        Le nom de la ville doit tenir sur minimum 6 caracteres
      </div>
    </div>

    <div class="form-group">
      <label>Description</label>
      <input type="text" formControlName="description" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['description'].errors }" />
      <div *ngIf="submitted && f['description'].errors" class="invalid-feedback">
        <div *ngIf="f['description'].errors['required']">La description de la ville est obligatoire</div>
      </div>
    </div>
    <div class="form-group">
      <label> Date de creation</label>
      <input type="date" formControlName="dateCreation" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['dateCreation'].errors }" />
      <div *ngIf="submitted && f['dateCreation'].errors" class="invalid-feedback">
        <div *ngIf="f['dateCreation'].errors['required']">La superficie est obligatoire</div>
      </div>
    </div>
    <div class="form-group">
      <label>Population</label>
      <input type="number" formControlName="population" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['population'].errors }" />
      <div *ngIf="submitted && f['population'].errors" class="invalid-feedback">
        <div *ngIf="f['population'].errors['required']">La population est obligatoire</div>
      </div>
    </div>

    <div class="form-group">
      <label> Superficie </label>
      <input type="number" formControlName="superficie" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['superficie'].errors }" />
      <div *ngIf="submitted && f['superficie'].errors" class="invalid-feedback">
        <div *ngIf="f['superficie'].errors['required']">La superficie est obligatoire</div>
      </div>
    </div>
    <div class="form-group">
      <input type="submit" value = "Enregistrer" class="btn btn-primary" >
      <button type="button" (click)="onReset()" class="btn btn-warning float-right">Annuler</button>
    </div>
  </form>
</div>